/* Header CSS */
header{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-items: center;
  background-color: bisque;
}
header img{
  grid-column: 3/span 2;
}

.nav-container{
  grid-column: 5/span 6;
}
.nav-container a{
  margin: 0px 20px;
  color: #282c34;
  text-decoration: none;
}

/* Footer CSS */
footer{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
}
footer img{
  grid-column: 3/span 2;
}
.footer-section-wrapper{
  grid-column: 5/span 6;
  display: flex;
}
footer section{
  margin-left: 60px;
}
.footer-nav-label{
  padding-bottom: 20px;
}
.footer-ul{
  padding: 0;
}
.footer-ul li{
  list-style: none;
  padding-bottom: 5px;

}
.footer-ul a{
  text-decoration: none;
  color: black;
}
